.notification {
  align-items: center;
  background: white;
  border: 1px solid #666;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  min-height: 100px;
  position: relative;
  width: auto;

  &__content {
    padding: 5px;
  }

  &__close-btn {
    position: absolute;
    border: 0;
    padding: 0;
    right: 0;
    top: 0;
  }
}
