.button {
  $this: &;

  display: inline-flex;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  height: max-content;
  padding: 6px 9px;
  transform: scale(1);
  transition: transform 150ms;
  width: max-content;

  &:hover {
    background: #ddd;
  }

  &--block {
    display: block;
  }

  &--disabled {
    opacity: .6;
  }

  &:active {
    transform: scale(.9);
  }

  &--none {
    background: none;
    border: 0;
    padding: 0;

    &:active {
      transform: scale(1);
    }
  }
}
