.button {
  $this: &;

  display: inline-flex;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  height: max-content;
  padding: 6px 9px;
  transform: scale(1);
  transition: all 150ms;
  width: max-content;

  &:hover {
    background: #ddd;
  }

  //&:focus {
  //  outline: none;
  //}

  &--block {
    display: block;
  }

  &--disabled {
    opacity: .6;
  }

  &:active {
    transform: scale(.9);
  }
}
