@font-face {
  font-family: 'Baloo2';
  src: url('#{$fonts-path}/Baloo2/Baloo2-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Baloo2';
  src: url('#{$fonts-path}/Baloo2/Baloo2-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Baloo2';
  src: url('#{$fonts-path}/Baloo2/Baloo2-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Baloo2';
  src: url('#{$fonts-path}/Baloo2/Baloo2-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
