$input-height: 4.6rem;
$input-error-height: 2rem;
$input-border-radius: .4rem;

$input-width-small: 7rem;
$input-width-medium: 14rem;
$input-width-large: 23rem;

$input-label-offset: 1.5rem;
$input-label-padding: $border-width * 2;
$input-field-padding: .2rem ($input-label-offset + $border-width) 0 ($input-label-offset + $border-width);
