.button {
  $this: &;

  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  user-select: none;

  &--block {
    display: block;
  }

  /** Primary **/

  &--primary {
    min-width: $button-width;
    position: relative;
    margin-right: .5rem;
  }

  &--round {
    min-width: $button-width-round;
    transform: scale($button-scale-normal);
    width: $button-width-round;
  }

  &--stretch {
    width: 100%;
  }

  &--disabled {
    cursor: default;
    opacity: $disabled-opacity;
  }

  &--selected {
    //cursor: default;
  }

  &__wrap {
    height: $button-height + .5rem;
    margin-right: -.5rem;
  }

  &__back {
    @include transition(box-shadow $transition-time $transition-ease, background-color $transition-time $transition-ease);

    background: var(--theme-color-lighter);
    border-radius: $button-height;
    box-shadow: box-shadow-border(var(--theme-color-darker)), shadow();
    bottom: 0;
    height: $button-height;
    left: 0;
    position: absolute;
    width: 100%;

    #{$this}--round & {
      margin-right: 1.4rem;
      width: $button-width-round;
    }

    #{$this}--disabled & {
      background: var(--main-color-light);
      box-shadow: box-shadow-border();
    }

    #{$this}--colored:not(#{$this}--disabled) & {
      background: var(--theme-color-dark);
    }

    #{$this}:not(#{$this}--selected):not(#{$this}--disabled):not(#{$this}--mega):hover & {
      box-shadow: box-shadow-border(var(--theme-color-darker)), -2px 1px 2px 0 var(--shadow-color); // TODO proper mixin for multiple shadows
    }

    #{$this}--selected &,
    #{$this}:not(#{$this}--selected):not(#{$this}--disabled):not(#{$this}--mega):active & {
      box-shadow: box-shadow-border(var(--theme-color-darker)), -1px 1px 2px 0 var(--shadow-color);
    }

    #{$this}--selected & {
      background: var(--theme-color-dark);
    }

    &:before {
      background: var(--theme-color-lighter);
      box-shadow: inset 1px 1px 0 0 var(--theme-color-darker);
      content: '';
      height: .7rem;
      left: .2rem;
      position: absolute;
      top: 1.5rem;
      transform: rotate(45deg);
      width: 4.1rem;

      #{$this}--colored:not(#{$this}--disabled) & {
        background: var(--theme-color-dark);
      }

      #{$this}--round & {
        box-shadow: inset 1px 1px 0 0 var(--theme-color-darker), 1px 0 0 0 var(--theme-color-darker);
      }

      #{$this}--disabled & {
        box-shadow: box-shadow-border();
      }

      #{$this}:not(#{$this}--selected):not(#{$this}:active):hover & {
        height: .6rem;
        top: 1.6rem;
      }

      #{$this}--selected &,
      #{$this}:not(#{$this}--mega)#{$this}:active & {
        height: .4rem;
        top: 1.7rem;
      }
    }

    &:after {
      #{$this}:not(#{$this}--round) & {
        content: '';
      }

      box-shadow: inset -1px 1px 0 0 var(--theme-color-darker);
      height: .8rem;
      position: absolute;
      right: -.3rem;
      top: 1.4rem;
      transform: rotate(45deg);
      width: $button-width-round;

      #{$this}--disabled & {
        box-shadow: box-shadow-border();
      }

      #{$this}:not(#{$this}--round)#{$this}:not(#{$this}--selected):hover & {
        height: .7rem;
      }

      #{$this}:not(#{$this}--round)#{$this}--selected &,
      #{$this}:not(#{$this}--round)#{$this}:active & {
        content: none;
      }
    }

    &:before,
    &:after {
      @include transition(margin $transition-time $transition-ease, box-shadow $transition-time $transition-ease, background-color $transition-time $transition-ease);
    }
  }

  &__front {
    @include transition(margin $transition-time $transition-ease, box-shadow $transition-time $transition-ease, background-color $transition-time $transition-ease);

    align-items: center;
    background: var(--background-color);
    border-radius: $button-height;
    box-shadow: box-shadow-border(var(--theme-color-darker));
    display: flex;
    height: $button-height;
    justify-content: center;
    left: 0;
    margin-left: .4rem;
    margin-top: .1rem;
    padding: 0 1.8rem;
    position: absolute;
    top: 0;
    width: 100%;

    #{$this}--round & {
      width: $button-width-round;
    }

    #{$this}--disabled & {
      background: var(--background-color);
      box-shadow: box-shadow-border();
    }

    #{$this}:not(#{$this}--selected):not(#{$this}--disabled):hover & {
      margin-left: .3rem;
      margin-top: .2rem
    }

    #{$this}--selected &,
    #{$this}:not(#{$this}--disabled):not(#{$this}--selected):active & {
      margin-left: .2rem;
      margin-top: .3rem;
    }

    #{$this}--selected & {
      background: var(--theme-color);
    }

    #{$this}--colored:not(#{$this}--disabled)  & {
      background: var(--theme-color);
    }
  }

  &__content {
    @include transition(color $transition-time $transition-ease);

    align-items: center;
    color: var(--theme-color-darker);
    display: flex;
    font-size: $font-size-large;
    height: $button-height;
    justify-content: center;
    width: 100%;
    height: 100%;

    #{$this}--round & {
      width: $button-width-round;
    }

    #{$this}--disabled  & {
      color: var(--main-color);
    }

    #{$this}--selected &,
    #{$this}--colored:not(#{$this}--disabled) & {
      color: var(--background-color);
    }
  }
}
