@mixin label-transition {
  @include transition(color $transition-time-slower $transition-ease, border-color $transition-time-slower $transition-ease, background-color $transition-time-slower $transition-ease);
};

@mixin label-back-states($this) {
  #{$this}--focused & {
    background: var(--theme-color-dark);
  }

  #{$this}--disabled & {
    background: var(--main-color-light);
    border-color: var(--main-color);
  }

  #{$this}--error & {
    background: var(--danger-color-lighter);
    border-color: var(--danger-color);
  }

  #{$this}--error#{$this}--focused & {
    background: var(--danger-color-dark);
    border-color: var(--danger-color-darker);
  }
}

@mixin input-sizes {
  &--small {
    height: $input-height-small;
    width: $input-width-small;
  }

  &--medium {
    width: $input-width-medium;
  }

  &--large {
    width: $input-width-large;
  }

  &--stretch {
    width: 100%;
  }
}
