@import 'css-vars';

* {
  box-sizing: border-box;
}

div, span {
  border: 1px solid var(--temp-el-color);
}

div {
  padding: 12px;
}

span {
  padding: 3px;
}

a:visited {
  color: var(--app-background-color);
}
