.switch {
  $this: &;

  display: flex;

  &__label {
    align-items: center;
    display: flex;
    margin-left: .6rem;
  }

  &__wrapper {
    margin-left: -.7rem;
  }

  &__field {
    @extend %visually-hidden;

    &:checked {
      & ~ #{$this}__ui {
        &::after {
          background-color: var(--theme-color);
          transform: translateX(3rem);
        }
      }
    }
  }

  &__wrapper {
    cursor: pointer;
    display: inline-flex;
    user-select: none;
  }

  &__ui {
    position: relative;
    transform: scale($button-scale-normal);

    &::after {
      border-radius: 50%;
      box-shadow: box-shadow-border(var(--theme-color-darker));
      content: '';
      height: 3rem;
      left: .8rem;
      position: absolute;
      top: .6rem;
      transform: translateX(1px);
      transition: all .15s;
      width: 3rem;
    }
  }

  &__front {
    background: var(--background-color);
    border-radius: $button-height;
    box-shadow: box-shadow-border(var(--theme-color-darker));
    display: inline-flex;
    height: $button-height;
    margin-left: .3rem;
    margin-right: -.3rem;
    position: relative;
    transition: all .15s;
    width: $button-height * 1.7;
  }

  &__back {
    background: var(--theme-color-lighter);
    border-radius: $button-height;
    bottom: -1px;
    box-shadow: box-shadow-border(var(--theme-color-darker)), shadow();
    height: $button-height;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
