.settings {
  align-items: center;
  display: flex;

  &__session-info {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10px;
    user-select: none;
  }

  &__session-id {
    font-weight: 500;
  }
}
