.input {
  $this: &;
  $_input-height: 43px;
  $_label-offset: 15px;
  $_border-width: 2px;
  $_label-padding: $_border-width * 2;
  $_error-height: 20px;

  display: block;
  height: $_input-height + ($_error-height * 2);
  position: relative;

  &--small {
    width: 70px;
  }

  &--medium {
    width: 140px;
  }

  &--large {
    width: 230px;
  }

  &__text {
    align-items: center;
    bottom: $_error-height;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    height: $_input-height;
    left: $_border-width;
    padding: 0 ($_label-offset + $_border-width);
    position: absolute;
    user-select: none;
    width: 100%;
  }

  &__field {
    background: #fff;
    border: $_border-width solid;
    border-radius: 7px;
    bottom: $_error-height;
    height: $_input-height;
    left: 0;
    padding: 0 ($_label-offset + $_border-width);
    position: absolute;
    outline: 0;
    width: 100%;

    &--hidden {
      @extend %visually-hidden;
    }

    &--error {
      border-color: var(--danger-color);
    }

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: #CCC8DF;
    }
  }

  &__label {
    background: var(--background-color);
    color: var(--main-color);
    font-size: 12px;
    left: $_label-offset;
    line-height: 1.4;
    padding: 0 $_label-padding;
    position: absolute;
    top: 10px;
    z-index: 1;
  }

  &__error {
    bottom: 0;
    left: 0;
    line-height: 2;
    height: $_error-height;
    padding: 0 $_label-offset + $_label-padding;
    position: absolute;
    width: 100%;
  }
}
