.sidebar {
  $this: &;
  $_transition-ms: 300ms;

  left: 0;
  position: fixed;
  top: 0;
  z-index: 1;

  &__shade,
  &__drawer {
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
  }

  &__shade {
    background: transparent;
    width: 100vw;
    z-index: 1;
  }

  &__drawer {
    background: #ccc;
    padding: 10px;
    transition: transform $_transition-ms;
    width: 400px;
    z-index: 2;
  }

  &--open {
    display: block;

    #{$this}__shade,
    #{$this}__drawer {
      transform: translateX(0);
    }
  }
}
