.dropdown {
  position: absolute;
  top: 53px;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 2px solid;
  z-index: 1;
  border-radius: 7px;

  &--small {
    width: 70px;
  }

  &--medium {
    width: 140px;
  }

  &--large {
    width: 230px;
  }
}
