.dropdown {
  border-radius: 0 0 $input-border-radius $input-border-radius;
  display: flex;
  flex-direction: column;
  top: 6.5rem;

  @include firefox {
    top: -.6rem;
  }

  @include safari {
    top: -2.1rem;
  }

@include input-sizes;
}
