.popover {
  background: #fff;
  border: 2px solid var(--app-textColor);
  border-radius: 7px;
  position: absolute;
  top: 100%;
  z-index: 2;
  width: max-content;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &--center {
    left: 50%;
    transform: translateX(-50%);
  }
}
