.popover {
  background: var(--background-color);
  border-radius: $input-border-radius;
  border: $border;
  border-color: var(--main-color);
  position: absolute;
  top: 100%;
  width: max-content;
  z-index: $z-index-popover;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &--center {
    left: 50%;
    transform: translateX(-50%);
  }
}
