.layout {
  background: var(--app-background-color);
  color: var(--app-color);
  padding: 15px;

  &__controls {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & > *:last-child {
      justify-self: end;
    }
  }

  &__children {
    padding: 15px;
  }

  &__route {
    font-weight: bold;
    text-transform: uppercase;
  }
}

