.layout {
  background: var(--app-background-color);
  color: var(--app-color);
  min-height: 100vh;

  &__controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__children {
    padding: 15px;
  }
}

