.select {
  $this: &;

  position: relative;

  &__input {
    cursor: pointer;
  }

  &--open {
    #{$this}__input {
      border-radius: $input-border-radius $input-border-radius 0 0;
    }
  }

  &__arrow {
    $_arrow-size: 2.2rem;

    width: $_arrow-size;
    display: inline-flex;
    height: $_arrow-size;
    position: absolute;
    right: 1rem;
    top: 3.1rem;
    cursor: pointer;

    &::after {
      left: .6rem;
      top: .5rem;
      width: .7rem;
      height: .7rem;
      border: $border;
      border-color: var(--main-color);
      border-width: 0 $border-width $border-width 0;
      transform: rotate(45deg);
      content: '';
      position: absolute;
    }

    &--up {
      right: 1.1rem;

      &::after {
        transform: rotate(-135deg);
        left: .7rem;
        top: .9rem;
      }
    }
  }
}
